<!DOCTYPE html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{{ page.title }}</title>
</head>
<body>
  <div id="zsid4600929031"></div><script type="text/javascript" src="http://statics.a8.net/js/harippaban.js" charset="utf-8" ></script>
  <script type="text/javascript">var aid='150819662118';var frame='1';var shopname='1';var rndid='zsid4600929031';var bannerkind='item.fix.kind1';</script>
  <script type="text/javascript" src="http://items.a8.net/search?category=22&limit=3&callback=callbackA8" charset="utf-8"></script>

  {{ content }}


  <script type="text/javascript">var a8='a14122802523_2C30BG_DJ0LMA_249K_BUB81';var rankParam='cq47CL.8yjhD3HgNCL4fTFh0XFiG.KUNPM42CT.DRFgCRHTEa2ao4YzFZqbDyKUNPM42CT.DRFgCRHTEa2ao4Yoxx';var trackingParam='UB3SGnMgKQ2BScWLGIsLGc2cKuOPqymlLIsqFalxx';var bannerType='0';var bannerKind='item.fix.kind1';var frame='1';var ranking='1';var category='ゲーム';</script><script type="text/javascript" src="http://amz-ad.a8.net/amazon/amazon_ranking.js"></script>


  <a href="http://px.a8.net/svt/ejp?a8mat=2HFOHD+16V8C2+2GMK+NVHCX" target="_blank">
  <img border="0" width="468" height="60" alt="" src="http://www23.a8.net/svt/bgt?aid=150217393072&wid=001&eno=01&mid=s00000011486004010000&mc=1"></a>
  <img border="0" width="1" height="1" src="http://www19.a8.net/0.gif?a8mat=2HFOHD+16V8C2+2GMK+NVHCX" alt="">

</body>
